@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  background-color: #d8dfea;
}

code {
  font-family: 'Courier New', monospace;
  font-size: 10px;
}

.wallet-adapter-button {
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif !important;
}
